{% extends "components/page.html.twig" %}

{% block leftContent %}
    <p>
        Wij nodigden iedereen uit zijn of haar kennis te delen met anderen. Dat leidt tot een rijk en gevarieerd aanbod aan activiteiten, workshops en lezingen. Met terugkerende evenementen als het <a target="_blank" href="https://www.youtube.com/watch?v=uPSUxMR9RNc">WEET IK VEEL festival</a> in de zomer en het <a target="_blank" href="https://www.youtube.com/watch?v=QdI2L5AA-Hs">Tech &amp; Play Kids festival</a> in de kerstvakantie. Bekende namen gaven een lezing. Je kon kennis opdoen over geluk, gezondheid, opvoeding. En heel veel meer.
    </p>
    <p>
        We hadden talloze <a target="_blank" href="https://www.bibliotheekeindhoven.nl/ben-jij-een-kennismaker-.html">‘KennisMakers’</a> die hun eigen persoonlijke verhaal deelden en zetten een reeks aan spreekuren op waarin specifieke kennis gedeeld werd; voor studenten, vrijwilligers, mensen met juridische vragen, werkzoekenden.
    </p>
    <p>
        Om een goed beeld te krijgen wat de wensen van internationals zijn, onder andere met betrekking tot de bibliotheek, voert een team van spouses met Expeditie Anton onderzoek uit, zodat wij dit kunnen vertalen naar onze programmering.
    </p>
    <p>
        Expeditie Anton was betrokken bij de vertaling van de toolkit <a target="_blank" href="https://www.kb.nl/ob/algemene-programmas/innovatie-openbare-bibliotheken/toolkit-design-thinking">Design Thinking for Libraries</a>. Vanuit hun ervaring met deze methodiek hebben ze de algemene vertaling passend gemaakt voor de Nederlandse bibliotheken
    </p>
    <p>
        De programmering in Waalre breidden we uit. We speelden in op lokale behoeften en gingen samenwerkingen aan. Een resultaat hiervan is onder meer dat we op vier locaties in Waalre <a target="_blank" href="https://www.ed.nl/waalre/voorleesochtenden-in-waalre-nemen-ouderen-mee-op-reis~a5a75273/">voorlezen aan (beginnend) dementerende senioren</a>.
    </p>
{% endblock %}

{% block rightContent %}

    <div class="flex flex-wrap p-6">
        <div class="w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t-2 border-{{ color }}-dark">
                Evenementen en activiteiten in de Witte Dame
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex justify-around">
        <div class="w-2/3">
            <img class="block h-full w-max-full p-2" src="/assets/chapter-four/dewittedame.svg">  
        </div>
        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-lg">409</span><br>
                activiteiten en evenementen<br>
                voor volwassenen
            </div>
            <div class="w-1/2">
                <span class="number-lg">11.543</span><br>
                deelnemers
            </div>

        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-lg">203</span><br>
                activiteiten en evenementen<br>
                voor de jeugd
            </div>
            <div class="w-1/2">
                <span class="number-lg">9.934</span><br>
                deelnemers
            </div>

        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t-2 border-{{ color }}-dark">
                Evenementen en activiteiten in Huis van Waalre
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex justify-around">
        <div class="w-2/3">
            <img class="block h-full w-max-full p-2" src="/assets/chapter-four/huisvanwaalre.svg">  
        </div>
        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-lg">107</span><br>
                activiteiten en evenementen<br>
                voor volwassenen
            </div>
            <div class="w-1/2">
                <span class="number-lg">1.086</span><br>
                deelnemers
            </div>

        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-lg">43</span><br>
                activiteiten en evenementen<br>
                voor de jeugd
            </div>
            <div class="w-1/2">
                <span class="number-lg">720</span><br>
                deelnemers
            </div>

        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t-2 border-{{ color }}-dark">
                Activiteiten ter professionalisering van<br>
                leerkrachten en pedagogisch medewerkers
            </p>
        </div>
    </div>
    <div class="flex flex-wrap p-6 pt-0">
        <div class="w-4/5 flex flex-wrap">
            <div class="w-1/2">
                <span class="number-xl">73</span><br>
                activiteiten
            </div>
            <div class="w-1/2">
                <span class="number-xl">560</span><br>
                deelnemers
            </div>
        </div>
    </div>

    <div class="flex flex-wrap p-6">
        <div class="w-4/5">
            <p class="caption pt-2 text-{{ color }}-dark border-t-2 border-{{ color }}-dark">
                In beeld
            </p>
        </div>
    </div>

{% endblock %}